{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{% static 'css/skins/skin-blue.min.css' %}" type="text/css">
    <script>document.createElement('aside');</script>
    </head>
    <body class="skin-blue sidebar-collapse sidebar-mini">
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="{% block credit %}{% endblock %}">
                        <a href="{% url 'credit' %}">
                            <i class="glyphicon glyphicon-phone-alt"></i> <span>vv</span>
                        </a>
                    </li>
                    <li class="{% block debet %}{% endblock %}">
                        <a href="{% url 'debet' %}">
                            <i class="glyphicon glyphicon-phone-alt"></i> <span>vv</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>

    </body>

</html>