body {
    padding-left: 20px;
    color: #555;
    background-color: #E9E9E9;
    border-top: 5px solid #A64E98;
    margin: 0;
    font-family: Verdana;
}

h1 a {
    front-family: 'Lobster';
}

header {
    background-color: #E9E9E9;
    height: 100px;
}

.left-col-header{
    float: left;
    margin-top: 6px;
    margin-right: 50px;
}

.center-col-header {
    text-align: right;
    color: #45254A;
    margin-top: 20px;
    margin-left: 40%;

}

@navbar-height: 37px;

li a {
    display: block;
    color: #45254A;
    padding: 8px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 20px;

}

li a:hover {
    background-color: #A64E98;
    color: #A64E98;
}
