body {
    color: #555;
    background-color: #E9E9E9;
    border-top: 5px solid #A64E98;
    margin: 0;
    font-family: Times;
    font-size: 100%;
}

header {
    background-color: #E9E9E9;
    padding-bottom: 20px;
}

.left-col-header{
    float: left;
    margin-top: 6px;
    margin-right: 50px;
}

.center-col-header {
    text-align: right;
    color: #45254A;

    margin-left: 35%;

}

@navbar-height: 37px;

li a {
    display: block;
    color: #45254A;
    padding: 8px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 2.35rem;
}

li a:hover {
    background-color: #A64E98;
    color: #A64E98;
}

