.h3-title{
    color: #73305B;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.qwe {
    font-size: 125%;
    color: #333333;
}

.qwe2 {
    font-size: 1.25em;
    color: #333333;
}

.tftable {
    font-size: 25px;
    color:#333333;
    width:70%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
}

.tftable th {
    font-size: 17px;
    background-color:#BDC4B2;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #BDC4B2;
    text-align:left;
}

.tftable tr {
    background-color:#ffffff;

}

.tftable td {
    font-size:17px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #E9E9E9;
}

.tftable tr:hover {
    background-color:#ffff99;
}