.h2-title{
    color: #A64E98;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #CCC;
    margin-bottom: 20px;
    padding-top: 20px;
}

p {
    color: #0000;
}

.col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}

.pr-text {
    font-size: 1.5rem;
    text-align: justify;
    float: left;
    width: 68%;
}


.footer{
    padding: 15px;
    background-color: #A64E98;
    text-align: center;
    weight: 100%;
}