.center_content{
    width: 74%;
    margin-top: 25px;
}

.center_logo{
    margin-left: 30%;
    padding: 20px;
}

.h2-title{
    color: #A64E98;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #CCC;
    margin-bottom: 20px;
}

p {
    color: #0000;
    font-size: 16px;
    text-align: justify;
}


