{% load static from staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/public.css' %}">
        <link rel="stylesheet" href="{% static 'css/price.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
        <link rel="stylesheet" href="{% static 'css/shugaring.css' %}">
        <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <script language = "javascript">
                function montharr(m0, m1, m2, m3, m4, m5, m6, m7, m8, m9, m10, m11) {
                  this[0] = m0;
                  this[1] = m1;
                  this[2] = m2;
                  this[3] = m3;
                  this[4] = m4;
                  this[5] = m5;
                  this[6] = m6;
                  this[7] = m7;
                  this[8] = m8;
                  this[9] = m9;
                  this[10] = m10;
                  this[11] = m11;
                }
                function calendar() {
                  var monthNames = "   ЯнвФевMaрАпрMaйИюнИюлАвгСенОктНояДек";
                  var today = new Date();
                  var thisDay;
                  var monthDays = new montharr(31, 28, 31, 30, 31, 30, 31, 31, 30,31, 30, 31);
                  year = today.getYear();
                  if (year < 2000)
                    year = year + 1900;
                  thisDay = today.getDate();
                  if (((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0))
                    monthDays[1] = 29;
                  nDays = monthDays[today.getMonth()];
                  firstDay = today;
                  firstDay.setDate(1);
                  testMe = firstDay.getDate();
                  if (testMe == 2)
                    firstDay.setDate(0);
                  startDay = firstDay.getDay();
                  document.writeln("<div align = 'center'>");
                  document.write("<table border = '1'>");
                  document.write("<tr><th colspan='7'>");
                  document.write(monthNames.substring(today.getMonth() * 3 + 3, (today.getMonth() + 1) * 3 + 3));
                  document.write(". ");
                  document.write(year);
                  document.write("<tr><th>Вск <th>Пон <th>Вт <th>Ср <th>Чт <th>Пт <th>Сб" );
                  document.write("<tr>");
                  column = 0;
                  for (i = 0; i < startDay; i++) {
                    document.write("<td width='30'>");
                    column++;
                  }
                  for (i = 1; i <= nDays; i++) {
                    document.write("<td width=30>");
                    if (i == thisDay)
                      document.write("<span style = 'color: red;'>")
                    document.write(i);
                    if (i == thisDay)
                      document.write("</span>")
                    column++;
                    if (column == 7) {
                      document.write("<tr>");
                      column = 0;
                    }
                  }
                  document.write("</table>");
                  document.writeln("</div>");
                }
        </script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?139"></script>
        <script type="text/javascript">
            VK.init({apiId: 5816904, onlyWidgets: true});
        </script>
        <meta property="og:site_name" content="Сайт Елегант" />
        <meta property="og:locale" content="uk_UA" />
        <title>
            {% block title %}Gera{% endblock title %}
        </title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <a href="" target="_blank" onclick="window.open(this.href,this.target,'width= 300,height=300,scrollbars=1');return false;">Вхiд та реєстрація</a>
                <a href="{% url 'logout' %}">Вихiд</a>
            </div>
            <div class="row" >
                <header>
                    <div class="header content" style=" margin-top: 20px;">
                        <div class="left-col-header">
                            <a href="/#"><img src="{% static 'image/logo.png'%}"></a>
                        </div>
                        <div class="center-col-header">
                            <table style="width:100%">
                                <tbody style="font-size: 2rem; text-align: center; color: #45254A;">
                                    <td style="width:50%">
                                        (096) 469 70 44<br>
                                        (093) 728 39 97<br>
                                        <span>м.Львiв, вул.Пасічна, 27</span>

                                    </td>
                                    <td style="width:50%">
                                        <span>Час роботи:<br> пн-пт 9:00-17:00,<br> сб 13:00-20:00</span>
                                    </td>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </header>
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <ul class="nav nav-pills">
                            <li><a href="/#">Косметологiя обличчя</a></li>
                            <li><a href="/#">Косметологiя тiла</a></li>
                            <li><a href="/shugaring">Шугаринг</a></li>
                            <li><a href="/news">Новини</a></li>
                            <li><a href="/price">Цiни</a></li>
                            <li><a href="/comments">Вiдгуки</a></li>
                            <li><a href="/contact">Контакти</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

            {% block content %}
            {% endblock %}

            <!--<div class="row" style="padding:15px; background-color:#A64E98; text-align:center;">-->

            <!--</div>-->
        </div>

        <div class="footer" >
            <span style="color: white;">
                    Copyright © 2012-2016 Медико-косметологiчний центр Gera.
                </span>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-dropdown.js' %}"></script>
    </body>
</html>
