{% extends 'elegant/base.html' %}{% load static from staticfiles %}

{% block content %}
<div class="row" style="padding-bottom:20px;">
    <div style="float:left; width: 65%">
        <div id="vk_comments"></div>
        <script type="text/javascript">
            VK.Widgets.Comments("vk_comments", {limit: 10, width: "500", attach: "*"});
        </script>
    </div>

    <div style="float:right; width: 32%;">
        <img src="{% static 'image/SHUG.jpg'%}" style="width: 100%;">
    </div>
</div>



{% endblock %}