{% extends 'elegant/base.html' %}{% load static from staticfiles %}

{% block content %}

    <!--<div id="vk_auth"></div>-->
        <!--<script type="text/javascript">-->
            <!--VK.Widgets.Auth('vk_auth', {});-->
        <!--</script>-->

        <ul>
        {# {% if user and not user.is_anonymous %} #}
            {# <li> #}
                {# <a>Hello {{ user.get_full_name|default:user.username }}!</a> #}
            {# </li> #}
        {# {% else %} #}
            {# <li> #}
                {# <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a> #}
            {# </li> #}
        {# {% endif %} #}
        </ul>

    <div class="row">
        <div class="h2-title" style="text-align:center;">
            Контакти
        </div>
    </div>

    <div class="row" style="padding-bottom:20px;">
        <div id="map"></div>
        <script>
            function initMap() {
                var u = {lat: 49.832594, lng: 24.067654};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 17,
                    center: u
                });
                var marker = new google.maps.Marker({
                    position: u,
                    map: map
                });
            }
        </script>
        <script
            async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsCMMfNKrIIkmGisz1FBlHuj-C7T7wlqE&callback=initMap">
        </script>
        <div id="adress">
            <span>м.Львiв, вул.Пасічна, 27</span><br>
            (096) 469 70 44<br>
            (093) 728 39 97<br><br>
            <img src="{% static 'image/logo.png'%}">
        </div>
    </div>

{#    <div class="row">#}
{#        <div class="h2-title" style="text-align:left;">#}
{#            Зворотнiй зв'язок#}
{#        </div>#}
{#        <div>#}
{#            'ddd'#}
{#            {{data}}#}
{#            {% for item in data %}#}
{#                'sss'#}
{#                {{ item }}#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}

{% endblock %}
