{% extends 'elegant/base.html' %}{% load static from staticfiles %}

{% block content %}
    <a href="{% url 'social:begin' 'vk-oauth2' %}" class="vk sn-logo">sgreg</a>
    <div class="row">
        <!--<h2>Google Map </h2>-->
        <!--<div id="map" style="width: 500px; height: 300px;"></div>-->
    </div>


<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(49.832594, 24.067654),
    zoom: 17
  }
  var map = new google.maps.Map(mapCanvas, mapOptions);

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>


{% endblock %}
