{% extends 'elegant/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Маркеры слайдов -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

            <!-- Содержимое слайдов -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="static/image/slider/1.jpg" alt="...">
                </div>

                <div class="item">
                    <img src="static/image/slider/2.jpg" alt="...">
                </div>

                <div class="item">
                    <img src="static/image/slider/3.jpg" alt="...">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="h2-title">
            Косметологiчний кабiнет
        </div>
        <p class="pr-text">
            Всі без винятку піддаються щоденному впливу зовнішніх факторів і навколишнього середовища.
            Як наслідок порушується обмін речовин, псується шкіра, знижується м'язовий тонус.<br> Допомогти
            трохи сповільнити цей не дуже приємний процес старіння організму покликана косметологія. Адже
            сучасна косметологія - це мистецтво не тільки прикрашати, але і доглядати за обличчям і тілом;
            це наука, заснована на системі знань про старіння шкіри, її численних функціях і механізмах
            поглинання нею тих чи інших біологічно активних речовин; це дивовижний синтез древніх знань,
            цілющих сил природних компонентів, наукових відкриттів і новітніх технологій.<br> Правильний догляд
            за шкірою допоможе зробити і зберегти її здоровою.<br> Завдяки продуманому комплексу косметологічних
            процедур, вдається вирішити проблеми шкіри, властиві будь-якій віковій категорії.<br> Новітні техніки
            і методи, брендова косметика, сертифіковані препарати, сучасне обладнання, демократичні ціни і
            головне - робота на результат!
        </p>

        <div style="float: right; width: 25%;">
            <img src="{% static 'image/miroslava.jpg'%} " class="img-rounded" style="width:100%" >
        </div>
    </div>

    <div class="row" >
        <div style="padding: 25px;">
            <img src="{% static 'image/logo.png' %}" class="img-rounded center-block">
        </div>
    </div>

    <div class="row">
        <div class="h2-title">
            Косметика, з якою ми працюємо
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{% static 'image/catalog_main/masks.jpg' %}" alt="Французькi альгінатнi маски Mila">
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{% static 'image/catalog_main/rose_de_mer.jpg' %}" alt="Французькi альгінатнi маски Mila">
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{% static 'image/catalog_main/depileve.jpg' %}" alt="Французькi альгінатнi маски Mila">
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{% static 'image/catalog_main/la_roche_posay.jpg' %}" alt="Французькi альгінатнi маски Mila">
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{% static 'image/catalog_main/peels-Brilace.jpg' %}" alt="Французькi альгінатнi маски Mila">
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{% static 'image/catalog_main/yantarika.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{% static 'image/catalog_main/HL.jpg' %}">
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{% static 'image/catalog_main/milo-piling.jpg' %}" alt="">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 25px; padding-bottom:20px; height:225px;">
        <div class="col-md-2"></div>
        <div class="col-md-12">
            <div id="carousel-text" class="carousel slide" data-ride="carousel">
            <!-- Маркеры слайдов -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-text" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-text" data-slide-to="1"></li>
                    <li data-target="#carousel-text" data-slide-to="2"></li>
                    <li data-target="#carousel-text" data-slide-to="3"></li>
                    <li data-target="#carousel-text" data-slide-to="4"></li>
                  </ol>

            <!-- Содержимое слайдов -->
                <div class="carousel-inner" style="text-align: center; font-size: 1.5rem;" >
                    <div class="item active">
                        <p>
                        Користуюсь послугами Мирослави досить давно. Дуже задоволена чисткою обличчя і пілінгом.
                            Після відвідування "спеціалістів" косметологів в інших косметологічних кабінетах, які
                            тільки беруть великі гроші, а результату ніякого, в мене обличчя було в рубцях і синячках.
                            За допомогою пілінгів рубці значно зменшились і вирівнявся тон шкіри. Дуже дякую Мирославі
                            за те що вона зробила з моїм личком, вона прекрасний спеціаліст і приємний співрозмовник.
                            Комфортні умови, доступні ціни, приємна атмосфера, всім рекомендую. <br><br>  Юліанна Сидор
                        </p>
                    </div>

                    <div class="item">
                        <p>
                            Мирослава професіонал своєї справи! Робила багато процедур в неї і в захваті від усіх.
                            Мирослава індивідуально підходить до кожної проблеми і підказує хороші варіанти вирішення.
                            Я безмежно рада, що маю шанс відвідувати такого хорошого косметолога. Всім рекомендую! <br><br>  Надя Шпитковська
                        </p>
                    </div>

                    <div class="item">
                        <p>
                            Проходжу курс пілінгів і роблю чистки) Все супер, шкіра вирівнялась, плями висвітлились,
                            значно менше чорних точок) Рекомендую. Також окреме дякую за пораду щодо домашнього догляду
                            косметикою Christina) Думаю для жирної та проблемної шкіри це маст хев!!
                            Дуже подобається пілінг-скатка і гель для вмивання. <br><br> Diana Rubel
                        </p>
                    </div>

                    <div class="item">
                        <p>
                            Робила чистку вже не перший раз дуже задоволена, на мою думку найкращий спеціаліст у Львові.
                            Індивідуальний підхід до кожного клієнта. Раджу всім. <br><br> Вікторія Маркевич
                        </p>
                    </div>

                    <div class="item">
                        <p>
                            Красно дякую за дбайливе ставлення до моєї шкіри!
                            Я була у Львові проїздом, і мені на щастя вдалося потрапити до Мирослави на чистку та консультацію щодо догляду за шкірою.
                            Було дуже комфортно під час процедури. Я не нудьгувала, а майже відпочивала, і вийшла з гарним настроєм та приємними емоціями.
                            Мирослава навідь турботливо дала намастити кремом мої червоні обгорілі від сонця ноги, чим дуже врятувала мене)
                            Підводячи підсумки:
                            По-перше, я позбавилася багатьох недоліків шкіри, з якими чомусь не могли впоратись інші косметологи;
                            По-друге, вже наступного ранку не залишилося жодних слідів втручання. Обличчя рівного кольору, жодних пошкоджень. Ані синців, ані запалень;
                            По-третє, відтепер я знаю, який догляд потрібен моїй шкірі та дотримуюсь даних рекомендацій.
                            Шкодую, що не могла затриматися у Львові бодай на місяць.
                            Дуже приємно потрапляти до рук справжнього професіонала! <br><br> Елена Федьковская
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
