{% extends 'elegant/base.html' %}{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% block content %}
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="row">
        <div class="h2-title" style="text-align:center;">
            {{ post.title_news }}
        </div>
    </div>
    <div class="row">
        <img class="col-md-2" src="{{ post.image_news.url }}">
        {{ post.created }} <br>
        <p class="pr-text">
        {{ post.text_news|linebreaksbr }}
        </p>
    </div>
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-2"></div>
        <div>
            <div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter,viber,whatsapp,skype,telegram"></div>
        </div>
    </div>
{% endblock %}
