{% extends 'elegant/base.html' %}{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% block content %}
    <div class="row">
        <div class = "col-xs-12 col-md-2" style="padding-left:0; ">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="{% url 'news_sale' %}">Sale</a></li>
                <li><a href="{% url 'news_stock' %}">Акції</a></li>
                <li><a href="{% url 'news_novelty' %}">Новини</a></li>
                <li><a href="{% url 'news_care' %}">Догляд</a></li>
            </ul>
        </div>

        <div class="col-xs-10">
            {% for post in posts %}
            <div class="col-md-10" style="padding-bottom: 20px">
                <img class="col-md-2" src="{{ post.image_news.url }}">
                <a class="h1-title" href="{% url 'news_detail' pk=post.pk %}">{{ post.title_news }}</a>

                <p class="size" style="font-size: 1.5rem;">{{ post.text_news }}</p>
                {{ post.created }}
            </div>
            {% endfor %}

            <div class="pagination" style="font-size: 1.25rem">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>

        <p><a href="/shugaring#porada">Cюди =)</a></p>
    </div>

{% endblock %}
