{% extends 'elegant/base.html' %}{% load static from staticfiles %}
{% block head %}
    {{ block.super }}<link rel="stylesheet" href="{% static 'css/price.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="h2-title" style="text-align:center;">
            Цiни на послуги
        </div>
    </div>

    <div class="row">
        <div >
            <div style="font-size: 1.7rem; color: #333333; width:70%;">
                <span style="">Консультація лікаря-косметолога 100 грн. </span>
            </div>

            <div class="h3-title">
                Косметологiя обличчя
            </div>
            <table class="tftable" border="1">
            <tr>
                <th>Назва процедури </th>
                <th style="width:20%">Тривалiсть</th>
                <th style="width:20%">Цiна</th>
            </tr>


            <tr>
                <td>Чистка обличчя мануальна</td>
                <td>90-120 хв</td><td>300 грн</td>
            </tr>
            <tr>
                <td>Чистка обличчя комбінована</td>
                <td>120 хв</td>
                <td>450 грн</td>
            </tr>
            <tr>
                <td>УЗ-чистка обличчя</td>
                <td>30 хв</td>
                <td>300 грн</td>
            </tr>
            <tr>
                <td>Атравматична чистка «Comodex»</td>
                <td>60 хв</td>
                <td>200 грн</td>
            </tr>
            <tr>
                <td>Алмазна мікродермабразія</td>
                <td>60 хв</td><td>600 грн</td>
            </tr>
            <tr>
                <td>Масаж обличчя і декольте</td>
                <td>15-20 хв</td><td>100 грн</td>
            </tr>
            <tr>
                <td>Кріомасаж рідким азотом</td>
                <td>15-20 хв</td><td>100 грн</td>
            </tr>
            <tr>
                <td>Програма Антикупероз</td>
                <td>40 хв</td><td>300 грн</td>
            </tr>
            <tr>
                <td>УЗ ліфтинг з гіалуроновою кислотою</td>
                <td>40 хв</td><td>300 грн</td>
            </tr>
            <tr>
                <td>Кораловий пілінг</td>
                <td>40 хв</td><td>460 грн</td>
            </tr>
            <tr>
                <td>Гліколевий пілінг 50%</td>
                <td>40 хв</td><td>300 грн</td>
            </tr>
            <tr>
                <td>ТСА 10-20%</td>
                <td>30-40 хв</td><td>300 грн</td>
            </tr>
            <tr>
                <td>Фруктовий препілінг</td>
                <td>40 хв</td><td>200 грн</td>
            </tr>
            <tr>
                <td>Пілінг Джесснера</td>
                <td>40 хв</td><td>300 грн</td>
            </tr>
            <tr>
                <td>Ензимний пiлiнг</td>
                <td>40 хв</td><td>300 грн</td>
            </tr>
            <tr>
                <td>Біоревіталізація*</td>
                <td>40-60 хв</td><td>50-120 $</td>
            </tr>
            <tr>
                <td>Контурна пластика*</td>
                <td>40-60 хв</td><td>100-200$</td>
            </tr>
            <tr>
                <td>Міорелаксація (Диспорт, Ботекс)*</td>
                <td>40-60 хв</td><td>100-200$</td>
            </tr>
        </table>
        </div>
        <div style="float:right; width:30%;">
            <figure><img alt="" src="{% static 'image/rek_mezoterapia.jpg' %}">
                <figcaption>Описание под изображением которое может содержать много текста</figcaption>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="h3-title">
            Косметологiя тiла
        </div>
        <table class="tftable" border="1">
            <tr>
                <th>Назва процедури </th>
                <th style="width:20%">Тривалiсть</th>
                <th style="width:20%">Цiна</th>
            </tr>
            <tr>
                <td>Оздоровчий масаж (дорослий)</td>
                <td>30 хв</td><td>150 грн</td>
            </tr>
            <tr>
                <td>Антицелюлітний вакуумний масаж з кріо/термо гелем</td>
                <td>60 хв</td><td>150 грн</td>
            </tr>
            <tr>
                <td>Мезотерапія по тілу</td>
                <td>30-50 хв</td><td>30-40 $</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="h3-title">
            Шугарiнг
        </div>
        <table class="tftable" border="1">
            <tr>
                <th>Назва процедури </th>
                <th style="width:20%">Тривалiсть</th>
                <th style="width:20%">Цiна</th>
            </tr>
            <tr>
                <td>Глибоке бікіні</td>
                <td>60-90 хв</td><td>200-300 грн</td>
            </tr>
            <tr>
                <td>Бікіні середнє</td>
                <td>30 хв</td><td>150 грн</td>
            </tr>
            <tr>
                <td>Класичне бікіні</td>
                <td>20 хв</td><td>100 грн</td>
            </tr>
            <tr>
                <td>Ноги повністю</td>
                <td>60-90 хв</td><td>300-400 грн</td>
            </tr>
            <tr>
                <td>Ноги до колін</td>
                <td>30-60 хв</td><td>150-250 грн</td>
            </tr>
            <tr>
                <td>Руки повністю</td>
                <td>60-90 хв</td><td>200-300 грн</td>
            </tr>
            <tr>
                <td>Руки до ліктя</td>
                <td>30-60 хв</td><td>150-200 грн</td>
            </tr>
            <tr>
                <td>Під пашками</td>
                <td>15-20 хв</td><td>60 грн</td>
            </tr>
            <tr>
                <td>Верхня губа</td>
                <td>10 хв</td><td>30 грн</td>
            </tr>
            <tr>
                <td>Доріжка (живіт)</td>
                <td>10 хв</td><td>30 грн</td>
            </tr>
        </table>
    </div>

    <div class="row" style="padding-bottom:20px;">
        <span style="font-size: 1.25rem; color: #333333;">
            * Цiна та час процедур залежать від препарату і його кількості
        </span>
    </div>

{% endblock %}