{% extends 'elegant/base.html' %}{% load static from staticfiles %}
{% block content %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Маркеры слайдов -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

            <!-- Содержимое слайдов -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'image/slider/shugaring_1.jpg' %}" alt="...">
                </div>

                <div class="item">
                    <img src="{% static 'image/slider/shugaring_2.jpg' %}" alt="...">
                </div>

                <div class="item">
                    <img src="{% static 'image/slider/shugaring_3.jpg' %}" alt="...">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom:20px;">
        <div class="h2-title" style="text-align:center;">
            Шугаринг
        </div>
        <p class="pr-text">
        Шугаринг (від англ. sugar - цукор) - це вид депіляції, який виконується густою цукровою пастою.
        На оброблювану ділянку шкіри наноситься натуральна карамель і віддаляється разом з волосками.<br>
        Цукрова депіляція одна з древніх косметологічних процедур, батьківщиною шугаринга вважається Стародавній
        Єгипет. У Древній Персії шугаринг був досить популярний оскільки мати на тілі волосся вважалося непристойно.
        Тому одно з назв процедури - персидська депіляція. У сучасному світі депіляція стала досить популярною
        процедурою з середини 80-х років минулого століття.<br>
        Це модна депіляція із суміші цукру. Вона є природною. Суміш із цукру не пошкодить навіть чутливішій шкірі.
        Такий вид депіляції безпечний для людей з варикозним розширенням вен та схильністю до алергії. За допомогою
        шугаринга видалити можна навіть волоски довжиною 2-3 мм. Не залишає опіків на шкірі. Ефект гладкості шкіри
        триває близько місяця.<br>
        </p>

        <div style="float:right; width: 30%;">
            <div id="vk_groups"></div>
                <script type="text/javascript" style="border:10px solid red;">
                    VK.Widgets.Group("vk_groups", {mode: 3, width: "220", color3: '45254A'}, 130598213);
                </script>
        </div>
    </div>

    <div class="row" >
        <div style="padding: 25px;">
            <img src="{% static 'image/logo.png' %}" class="img-rounded center-block">
        </div>
    </div>

    <div class="row">
        <div class="h2-title" style="text-align:left;">
            Догляд за собою. Поради вiд професiйного косметолога
        </div>
        <p class="pr-text">
            Догляд перед шугарингом і після процедури займає велику роль для очікуваного ефекту. Перш за все потрібно
            підготувати довжину волосинок 4-5 мм, і краще проводити процедуру після критичних днів, щоб були менші
            больові відчуття. День перед процедурою ділянку депіляції треба проскрабувати. В день депіляції уникаєм
            спортзалу, сауни, солярію, синтетичної білизни.<br>
            Під час процедури майстер буде вас інформувати про етапність процедури, і нагадає про догляд після епіляції.<br>
            Отож після епіляції для кращого ефекту ви маєте застосовувати крем від вростання, сироватку для заповільнення
            росту волосся. Обов'язковим є скрабування післяепіляційної ділянки з третього чи четвертого дня, 2-3 рази в тиждень,
            бажано спеціальним скрабом, або скрабчиком з бактерицидним ефектом для профілактики появи подразнень. Важливим є
            наголошую натуральна білизна перші 2-3 дні після шугарингу.<br>
            У випадку якщо ваша шкіра чутлива, схильна до подразнень чи висипань, рекомендую обробку хлоргексидином для
            бактерицидного ефекту,в день епіляції, і мазь хепі дерм плюс рано/вечір при появі дискомфорту. Детальнішу консультацію
            можна отримати під час процедури шугарингу, або після процедури.<br>
            Бажаю кожному насолоджуватись результатом шугарингу, дотримуватись рекомендацій. А також запрошую на індивідуальне
            навчання "Як оволодіти шугарингом дома." При навчанні ви отримуєте повний набір початківця для домашнього шугарингу.<br>
            Мирослава Гера.
        </p>
        <div style="float:right; width: 30%;">
            <img src="{% static 'image/gera_sh.jpg'%} " class="img-rounded" style="width:100%" >
        </div>
    </div>
{% endblock %}